<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         stopOnFailure="false"
         processIsolation="false"
         backupGlobals="false">
    
    <php>
        <env name="TAGCACHE_HTTP_URL" value="http://localhost:8080"/>
        <env name="TAGCACHE_TCP_HOST" value="localhost"/>
        <env name="TAGCACHE_TCP_PORT" value="1984"/>
        <env name="TAGCACHE_USERNAME" value="admin"/>
        <env name="TAGCACHE_PASSWORD" value="password"/>
    </php>
    
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./tests/Unit</directory>
            <file>./tests/ConfigTest.php</file>
        </testsuite>
        <testsuite name="transport">
            <directory suffix="Test.php">./tests/Transport</directory>
        </testsuite>
        <testsuite name="feature">
            <directory suffix="Test.php">./tests/Feature</directory>
            <file>./tests/ClientTest.php</file>
        </testsuite>
        <testsuite name="integration">
            <directory suffix="Test.php">./tests/Integration</directory>
        </testsuite>
        <testsuite name="performance">
            <directory suffix="Test.php">./tests/Performance</directory>
            <file>./tests/PerformanceTest.php</file>
        </testsuite>
    </testsuites>
    
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    
    <logging>
        <junit outputFile="tests/results/junit.xml"/>
        <testdoxHtml outputFile="tests/results/testdox.html"/>
    </logging>
</phpunit>
